{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-6">
        <h2>Your Bookings</h2>
        <ul>
          {% for booking in user_reservations %}
            <li>
              {{ booking.date }} - {{ booking.time_slot }} (Table: {{ booking.get_table_name }})
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Make a Reservation</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  {% else %}
    <h1>Welcome to The Restaurant!</h1>
    <p>
      You need to be logged in to access the booking system. Please register or login below.
    </p>
    <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'account_signup' %}" class="btn btn-secondary">Register</a>
  {% endif %}
{% endblock content %}