{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <h2>Your Reservations</h2>
                <ul>
                    {% for reservation in reservations %}
                        <li>
                            Date: {{ reservation.date }}<br>
                            Time: {{ reservation.get_time_slot_display }}<br>
                            Table: {{ reservation.table }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>You need to be logged in to view your reservations and make new ones.</h2>
                <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
                <a href="{% url 'account_signup' %}" class="btn btn-secondary">Create Account</a>
            {% endif %}
        </div>

        <div class="col-md-6">
            {% if user.is_authenticated %}
                <h2>Make a Reservation</h2>
                <form method="post" action="{% url 'make_reservation' %}">
                    {% csrf_token %}
                    {{ reservation_form|crispy }}
                    <button type="submit" class="btn btn-outline-success">Submit Reservation</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
