{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>The Restaurant</h1>
            <h2>A Culinary Journey Awaits</h2>
            <p>Embark on a culinary adventure and explore a world of flavors. Our talented chefs craft exquisite dishes using the finest ingredients. From classic favorites to innovative creations, our menu caters to every palate. Whether you're celebrating a special occasion or simply enjoying a night out, our restaurant offers a memorable dining experience. Discover exciting offers and seasonal specials that will tantalize your taste buds.<br>
                <br>Join us for a culinary journey you won't forget.</p>
            <a href="{% url 'make_reservation' %}" class="btn btn-primary">Book Your Table</a>
            <p></p> <!-- Empty paragraph for spacing -->
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/welcome_image.png' %}" alt="Restaurant Image" class="img-fluid float-end">
        </div>
    </div>
</div>
{% endblock %}